
services:

  cassandra1:
    image: cassandra:4.1
    container_name: cassandra1
    hostname: cassandra1
    ports:
      - "9042:9042"
    environment:
      MAX_HEAP_SIZE: 512M
      HEAP_NEWSIZE: 100M
      CASSANDRA_CLUSTER_NAME: "TaxiCluster"
      CASSANDRA_SEEDS: "cassandra1"
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
      CASSANDRA_ENABLE_MATERIALIZED_VIEWS: "true"
    volumes:
      - cassandra1_data:/var/lib/cassandra
    healthcheck:
      test: ["CMD-SHELL", "cqlsh localhost 9042"]
      interval: 30s
      timeout: 10s
      retries: 10
    networks:
      - kafka-net

  cassandra2:
    image: cassandra:4.1
    container_name: cassandra2
    hostname: cassandra2
    depends_on:
      - cassandra1
    environment:
      MAX_HEAP_SIZE: 512M
      HEAP_NEWSIZE: 100M
      CASSANDRA_CLUSTER_NAME: "TaxiCluster"
      CASSANDRA_SEEDS: "cassandra1"
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
      CASSANDRA_ENABLE_MATERIALIZED_VIEWS: "true"
    volumes:
      - cassandra2_data:/var/lib/cassandra
    networks:
      - kafka-net

  cassandra3:
    image: cassandra:4.1
    container_name: cassandra3
    hostname: cassandra3
    depends_on:
      - cassandra1
    environment:
      MAX_HEAP_SIZE: 512M
      HEAP_NEWSIZE: 100M
      CASSANDRA_CLUSTER_NAME: "TaxiCluster"
      CASSANDRA_SEEDS: "cassandra1"
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
      CASSANDRA_ENABLE_MATERIALIZED_VIEWS: "true"
    volumes:
      - cassandra3_data:/var/lib/cassandra
    networks:
      - kafka-net

 # cassandra4:
 #   image: cassandra:4.1
 #   container_name: cassandra4
 #   hostname: cassandra4
 #   depends_on:
 #     - cassandra1
 #   environment:
 #     MAX_HEAP_SIZE: 512M
 #     HEAP_NEWSIZE: 100M
 #     CASSANDRA_CLUSTER_NAME: "TaxiCluster"
 #     CASSANDRA_SEEDS: "cassandra1"
 #     CASSANDRA_DC: dc1
 #     CASSANDRA_RACK: rack1
 #     CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
 #     CASSANDRA_ENABLE_MATERIALIZED_VIEWS: "true"
 #   volumes:
 #     - cassandra4_data:/var/lib/cassandra
 #   networks:
 #     - kafka-net
 # cassandra5:
 #   image: cassandra:4.1
 #   container_name: cassandra5
 #   hostname: cassandra5
 #   depends_on:
 #     - cassandra1
 #   environment:
 #     MAX_HEAP_SIZE: 512M
 #     HEAP_NEWSIZE: 100M
 #     CASSANDRA_CLUSTER_NAME: "TaxiCluster"
 #     CASSANDRA_SEEDS: "cassandra1"
 #     CASSANDRA_DC: dc1
 #     CASSANDRA_RACK: rack1
 #     CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
 #     CASSANDRA_ENABLE_MATERIALIZED_VIEWS: "true"
 #   volumes:
 #     - cassandra5_data:/var/lib/cassandra
 #   networks:
 #     - kafka-net

 # cassandra6:
 #   image: cassandra:4.1
 #   container_name: cassandra6
 #   hostname: cassandra6
 #   depends_on:
 #     - cassandra1
 #   environment:
 #     MAX_HEAP_SIZE: 512M
 #     HEAP_NEWSIZE: 100M
 #     CASSANDRA_CLUSTER_NAME: "TaxiCluster"
 #     CASSANDRA_SEEDS: "cassandra1"
 #     CASSANDRA_DC: dc1
 #     CASSANDRA_RACK: rack1
 #     CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
 #     CASSANDRA_ENABLE_MATERIALIZED_VIEWS: "true"
 #   volumes:
 #     - cassandra6_data:/var/lib/cassandra
 #   networks:
 #     - kafka-net
 
 
  cassandra-init:
    image: python:3.10
    container_name: cassandra-init
    depends_on:
      cassandra1:
        condition: service_healthy
    volumes:
      - .:/app
      - ./requirements.txt:/requirements.txt
    working_dir: /app
    command: >
      sh -c "
      pip install -r /requirements.txt &&
      python init.py
      "
    restart: "no"
    networks:
      - kafka-net

  consumer:
    build: ./consumer
    container_name: taxi-consumer-cassandra
    depends_on:
      cassandra1:
        condition: service_healthy
    networks:
      - kafka-net

  test2:
   image: python:3.10
   container_name: test2
   depends_on:
     cassandra1:
       condition: service_healthy
   volumes:
     - .:/app
     - ../../data/output/:/data
     - ./requirements.txt:/requirements.txt
   working_dir: /app
   command: >
     sh -c "
     pip install -r /requirements.txt &&
     python test2.py
     "
   restart: "no"
   networks:
     - kafka-net
     

      
volumes:
  cassandra1_data:
  cassandra2_data:
  cassandra3_data:
#  cassandra4_data:
#  cassandra5_data:
#  cassandra6_data:

networks:
  kafka-net:
    external: true
    name: kafka_kafka-net
  

# networks:
#   mongo-net:
#     driver: bridge
#   kafka-net:
#     external: true
#     name: kafka_kafka-net