
services:

  cassandra1:
    image: cassandra:4.1
    container_name: cassandra1
    hostname: cassandra1
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_CLUSTER_NAME: "TaxiCluster"
      CASSANDRA_SEEDS: "cassandra1"
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
    volumes:
      - cassandra1_data:/var/lib/cassandra
    networks:
      - kafka-net

  cassandra2:
    image: cassandra:4.1
    container_name: cassandra2
    hostname: cassandra2
    depends_on:
      - cassandra1
    environment:
      CASSANDRA_CLUSTER_NAME: "TaxiCluster"
      CASSANDRA_SEEDS: "cassandra1"
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
    volumes:
      - cassandra2_data:/var/lib/cassandra
    networks:
      - kafka-net

  cassandra3:
    image: cassandra:4.1
    container_name: cassandra3
    hostname: cassandra3
    depends_on:
      - cassandra1
    environment:
      CASSANDRA_CLUSTER_NAME: "TaxiCluster"
      CASSANDRA_SEEDS: "cassandra1"
      CASSANDRA_DC: dc1
      CASSANDRA_RACK: rack1
      CASSANDRA_ENDPOINT_SNITCH: GossipingPropertyFileSnitch
    volumes:
      - cassandra3_data:/var/lib/cassandra
    networks:
      - kafka-net


volumes:
  cassandra1_data:
  cassandra2_data:
  cassandra3_data:

networks:
  kafka-net:
    external: true
  
